
@{
    ViewBag.Title = "TesteMenu";
    Layout = null;
}

<h2>TesteMenu</h2>



    <div class="container" >
        
        <ul>

            @Html.Raw(@Model)

        </ul>

</div>

       

   
    


        

        

 
