@*@model ProjetoIntranet.Models.Entity.CadastroMenu*@

@Recursos.Resources.Culture



<div class="container">


    <nav>
        
    </nav>


    <button id="botao-itens-menuDinamico" class="btn btn-navbar navbar-toggle collapsed" data-toggle="collapse" data-target="#tree-menu">

        <span id="icon-btn-lista" class="glyphicon glyphicon-th-list"></span>


    </button>

    <div class="tree-menu demo navbar-collapse collapse" id="tree-menu">

        <ul>

            @Html.Raw(@Model)

        </ul>

    </div>

</div>


