@model ProjetoIntranet.MV.MVlinkEGrupo
@Recursos.Resources.Culture

<div class="container">

    <table id="tb_links" class="display table">

        <thead>

            <tr>
                <th>@Recursos.Resources.ID</th>
                <th>@Recursos.Resources.Url</th>
                <th>@Recursos.Resources.Nome</th>
            </tr>

        </thead>

        <tbody id="tbCorpo"></tbody>

    </table>



</div>
