<div id="post" class="container">
    @*aqui será renderizado os posts it , não delete esse html*@




</div>


<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body post-ativo">


                <div id="dialog">



                </div>

            </div>

        </div>
    </div>
</div>