
@{
    ViewBag.Title = "SemRascunho";
}

<h2>SemRascunho</h2>

<div class="container">

    <img src="~/Resources/ops.PNG">


    @Html.ActionLink("Ops! Não têm rascunhos no momento. Clique aqui para voltar!","Principal","Home")


</div>